$colortipografia: rgb(14, 131, 136);

.containerLinkUtiles{
    display:flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 4vh 10vh 4vh 10vh;
    justify-content: space-between;
    
    h1{
        display: flex;
        width: 100%;
        justify-content: center;
    }
}
.CardLinkUtiles{
    margin: 10px;
    border-radius: 5px;
}

.LinksUtiles-title{
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;

}

.linksUtiles-titulo{
    color: $colortipografia;
    font-size: 2rem;
    margin-top: 1rem;
    font-family: Montserrat,Bold 700;
    letter-spacing: 1px; 
}

.medioDeContacto-Container{
    display:flex;
    justify-content: center;
    color: white;
}