//Variables Globales//

.app{
    $Fondo: rgba(255, 255, 255, 0.438);
}


//tipografia//
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,100&display=swap');




//colores//
$Fondo: rgba(255, 255, 255, 0.438);
$ColorSegundario: rgb(72, 14, 226);


$colorTitulos: rgba(226, 14, 63, 0.849);
$colorSubtitulos: rgb(72, 14, 226);
$coloresFooter: rgb(178, 14, 226);

